Write a code to print your name and ID.

In [ ]:
string_variable = "Syed Mostofa Rafid"#taking name as string input
integer_variable = 11220320892#taking ID as integer input

print("Name:", string_variable)#printing the taken string input
print("Student ID:", integer_variable)#printing the taken integer input

Name: Syed Mostofa Rafid
Student ID: 11220320892

Write a code to check if the last 3 digits of your ID is greater than 500 then it prints "My ID is more than 500" Otherwise the code prints “My ID is not more than 500"

In [2]:
def compare_variable(integer):
    if integer > 500:
        print("My ID is more than 500")
    elif integer < 500:
        print("My ID is not more than 500")
    else:
        print("My ID is equal to 500")

integer = int(input("Enter your ID: "))
compare_variable(integer)

Enter your ID: 892
My ID is more than 500

Create 5 different variables and list them in python then print the variables and their types.

In [3]:
var1 = 892
var2 = "Mostofa Rafid"
var3 = [1, 2, 3, 4, 5]
var4 = 3.14
var5 = True
#five types of variables are taken inputs

print(f"variable no 1: {var1}, type: {type(var1)}")#“type” has been used to define the type of the variable
print(f"variable no 2: {var2}, type: {type(var2)}")
print(f"variable no 3: {var3}, type: {type(var3)}")
print(f"variable no 4: {var4}, type: {type(var4)}")
print(f"variable no 5: {var5}, type: {type(var5)}")

variable no 1: 892, type: <class 'int'>
variable no 2: Mostofa Rafid, type: <class 'str'>
variable no 3: [1, 2, 3, 4, 5], type: <class 'list'>
variable no 4: 3.14, type: <class 'float'>
variable no 5: True, type: <class 'bool'>

cars = ["Ford","Volvo","BMW"] In this list add Honda, delete Volvo using function, and delete Ford using value.

In [4]:
cars = ["Ford", "Volvo", "BMW"] #creating the list of cars

cars.append("Honda")#inserting honda in the list

def delete_car_by_name(car_list, car_name):#deleting volvo by using function
    if car_name in car_list:
        car_list.remove(car_name)

delete_car_by_name(cars, "Volvo")

if "Ford" in cars:#deleting ford using value
    cars.remove("Ford")

print("Updated list of cars:", cars)#printing the corrected list

Updated list of cars: ['BMW', 'Honda']

Write a function that can print your name 5 times using a loop (For or While)

In [5]:
#using while loop
def input(name):
    count = 0
    while count < 5:
        print(name)
        count += 1
input("Syed Mostofa Rafid")
#using for loop
def input(name):
    for _ in range(5):
        print(name)

input("Syed Mostofa Rafid")

Syed Mostofa Rafid
Syed Mostofa Rafid
Syed Mostofa Rafid
Syed Mostofa Rafid
Syed Mostofa Rafid
Syed Mostofa Rafid
Syed Mostofa Rafid
Syed Mostofa Rafid
Syed Mostofa Rafid
Syed Mostofa Rafid

Draw a straight line.

In [ ]:
import turtle#This line imports the turtle module, which provides a simple way to create graphics.

line = turtle.Turtle()

line.forward(100) #This line moves the turtle forward by 100 units, drawing a straight line.

turtle.done()#keeps the graphics window open until it's manually closed by the user. this must be run on a compiler such as VS code

I've written this code to perform it in graphical manner. So, it is showing error in the second line as the second line refers to the graphical tab/window of python. If you run it on any compiler such as vs code. I'll run perfectly.